<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->



{% extends "./layouts/base.html" %}

{% block body %}
<div class="py-4 max-w-6xl mx-auto">
  <p>TESTING</p>
  {% include "../sections/banner.html" %}
  {% include "../sections/services.html" %}
  {% include "../sections/wwd.html" %}
  {% include "../sections/wwd-grid.html" %}
  {% include "../sections/sfp.html" %}
  {% include "../sections/sfp-grid.html" %}
  {% include "../sections/feedback.html" %}
  {% include "../sections/about.html" %}
  {% include "../sections/contact-us.html" %}

</div>

{% endblock body %}
